@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue';
    background-color: #CCC;
  }

  .header {
    text-align: center;
    font-size: 3rem;
  }
  
  .selections {
    display: flex;
    justify-content: center;
  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 10rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.2);
  }

  .choose-wisely {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
  }
  
  .results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 7rem;
  }
  
  .result-score {
    margin-left: .1rem;
    font-size: 7rem;
    color: #333;
  }
  
  .result-selection {
    opacity: .5;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 10rem;
  }

/* Media Querys */

@media (max-width: 1080px) {
    .results{
        font-size: 5rem;
        margin-right: 3rem;
    }

    .result-score{
        font-size: 5rem;
    }
}

@media (max-width: 1051px) {
    .results{
        font-size: 5rem;
    }
}

@media (max-width: 780px) {
    .results{
        font-size: 4rem;
    }

    .result-score{
        font-size: 4rem;
    }
}

@media (max-width: 643px) {
    .results{
        font-size: 3rem;
    }

    .result-score{
        font-size: 3rem;
    }

    .selection{
        font-size: 5rem;
    }
}

@media (max-width: 475px) {
    .results{
        font-size: 2rem;
    }

    .result-score{
        font-size: 2rem;
    }
}

@media (max-width: 414px) {
    .header{
        margin-bottom: .5rem;
        font-size: 2rem;
    }
    
    .selection {
        font-size: 2rem;
    }

    .choose-wisely{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .results{
        font-size: 2rem;
        margin-right: 2rem;
    }

    .result-score{
        font-size: 2rem;
    }

    .result-selection.winner{
        font-size: 3rem;
    }
}